<template>
    <div class="slds-m-around_medium bg-white">
        <div class="slds-p-around_medium">
            <!-- Inputs ( Username and password ) -->
            <lightning-input type="text" name="username" label="Username or Email" placeholder="Enter your username or email" onchange={handleInputChange}></lightning-input><br />
            <lightning-input type="password" label="Password" name="password" placeholder="Enter Password" onchange={handleInputChange}></lightning-input>
            
            <!-- 
                Shows the suggestion dropdown when Generate Password is clicked. User can select the suggestion
                and fill in the password field with the suggested password. It will just suggest and will not
                pre-fill the password after clicked on the Generate password button.
            -->
            <template if:true={showSuggestion}>
                <div class="slds-combobox_container">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open">
                        <div id="listbox-id-4" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <li role="presentation" class="slds-listbox__item" onclick={selectSuggestedPassword}>
                                    <div id="option1" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title="suggestion">
                                                <strong>Suggested password:</strong> {suggestedPassword}
                                            </span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </template>
            
            <!-- 
                A grid of 3 different sections. 
                    - 1st section contains a button which when clicked generates a
                      random strong password of the desired length.
                    - 2nd section contains a slider ( range selector ), with which
                      a user can select the desire length for the password suggestion.
                    - 3rd section shows the currect length of the password.
            -->
            <div class="slds-grid slds-gutters top-margin">
                <div class="slds-col">
                    <span>
                        <lightning-button variant="brand" label="Generate Password" onclick={suggestRandomPassword} class="slds-m-left_x-small"></lightning-button>
                    </span>
                </div>
                <div class="slds-col">
                    <span>
                        <lightning-input type="range" label="Length of password" min="10" max="25" class="slds-p-left_small" onchange={handlePasswordLengthChange}>
                        </lightning-input>
                    </span>
                </div>
                <div class="slds-col custom-adjust-password-length">
                    <span>
                        <strong>Current password length:</strong> {passwordLength}
                    </span>
                </div>
            </div>
            
            <!-- A login button which consoles the data we have in the inputs. -->
            <div class="top-margin custom-adjust-password-length">
                <lightning-button variant="brand" label="LOGIN" onclick={showInfo} class="slds-m-left_x-small"></lightning-button>
            </div>
        </div>
    </div>
</template>